# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Flask generated uploads
Image Processing Algorithm/static/uploads/*
!Image Processing Algorithm/static/uploads/.gitkeep

# VS Code
.vscode/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db